.menu{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.menu__title{
    font-weight: 900;
    font-size: 25px;
    line-height: 29px;
    color: #1D3130;
}

.menu__list{
    display: flex;
}

.menu__item:not(:last-child){
    margin-right: 16px;
}

.menu__link{
    color: #1D3130;
    line-height: 19px;
}

.menu__link:hover{
    opacity: 0.5;
}

.menu__null{
    width: 103px;
}