@import '../../index.scss';

.card {
  padding: 0 16px;
  width: 264px;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .card__img {
    display: flex;
    align-items: flex-end;
    height: 100px;
  }

  .card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    margin: 16px 0 8px 0;
    color: inherit;
  }

  .card__text {
    width: 231px;
    font-size: 14px;
    text-align: center;
    color: inherit;
  }

  .card__price {
    margin-top: 15px;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: inherit;
  }
}

.count {
  display: flex;
  margin: 8px 0 16px 0;

  .count__button {
    background-color: transparent;
  }

  .count__number {
    background-color: transparent;
    width: 32px;
    text-align: center;
    color: inherit;
    font-size: 15px;
    line-height: 18px;

    &:hover, :active, :focus {
      outline: none;
      border: 0;
    }
  }
}

.btn {
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 12px 56px;
  transition: all 0.5s;
  & svg {
    fill: $orangeColor!important;
    margin-left: 7px;
  }
}