* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  font-family: Roboto, serif;
}

input, button, textarea {
  font-family: inherit;
}

button {
  cursor: pointer;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1160px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.active {
  color: #FF583E !important;
}

.green {
  border: 1px solid #254F4C;
  background-color: #254F4C;
  color: #fff !important;
  margin: 0 16px 0 16px;
}
.green:first-child {
  margin-left: 0;
}

.white {
  margin-top: 94px !important;
  color: #1D3130 !important;
  background-color: #fff;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.white:not(:nth-of-type(4n)) {
  margin: 0 16px 0 16px;
}

.btn {
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 12px 56px;
}
.btn svg {
  margin-left: 7px;
}

.orange {
  border: 1px solid #FF583E;
  background-color: #FF583E;
}
.orange:hover {
  color: #FF583E;
  background-color: #fff;
}

.gr {
  border: 1px solid #254F4C;
  background-color: #254F4C;
}
.gr:hover {
  color: #254F4C;
  background-color: #fff;
}

.tl {
  color: #254F4C;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
}

.menu__link {
  color: #1D3130;
  line-height: 19px;
}
.menu__link:hover {
  color: aquamarine;
}

.header__container {
  margin-top: 24px;
  min-height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__container .header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.header__container .header__logo .logo__img {
  width: 32px;
  margin-right: 8px;
}
.header__container .header__logo .logo__content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  color: #1D3130;
}
.header__container .header__logo .logo__content .logo__title {
  font-size: 20px;
  font-weight: 700;
  color: #254F4C;
}
.header__container .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.header__container .header__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container .header__menu .menu__list .menu__item:not(:last-child) {
  margin-right: 60px;
}
.header__container .header__phone {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1D3130;
  font-size: 16px;
  padding-left: 30px;
}
.header__container .header__phone .phone__img {
  margin-right: 8px;
}
.header__container .header__basket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__container .header__basket .basket__button {
  width: 48px;
  background-color: transparent;
  font-size: 20px;
  line-height: 23px;
  color: #FF583E;
}
.header__container .header__basket .basket__button img {
  margin-right: 8px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 56px 0 33px 0;
}
.main__container .main__content .main__title {
  width: 403px;
  font-size: 36px;
  font-weight: 900;
  line-height: 42px;
  color: #254F4C;
}
.main__container .main__content .main__content {
  margin: 16px 0;
  width: 416px;
  line-height: 24px;
  color: #1D3130;
}
.main__container .main__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 735px;
}

.new__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
.new__container .new__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 88px;
}
.new__container .new__content .new__block {
  padding: 0 16px;
  width: 264px;
  background-color: #254F4C;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.new__container .new__content .new__block .new-block__img {
  height: 100px;
}
.new__container .new__content .new__block .new-block__img img {
  position: relative;
  bottom: 45px;
}
.new__container .new__content .new__block .new-block__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin: 16px 0 8px 0;
}
.new__container .new__content .new__block .new-block__content {
  font-size: 14px;
  color: #fff;
  text-align: center;
}
.new__container .new__content .new__block .new-block__price {
  margin-top: 15px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
}

.menu__container {
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu__container .menu__content {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.menu__container .menu__content .menu__sort {
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__container .menu__content .menu__sort .menu__text {
  width: 136px;
  margin-right: 8px;
  font-size: 14px;
}
.menu__container .menu__content .menu__sort .menu__select {
  width: 160px;
  padding: 12px 23px;
}
.menu__container .menu__content .menu__content__items {
  margin-top: 18px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.favorite__container {
  padding: 42px 0 56px 0;
}
.favorite__container .favorite__title {
  margin-bottom: 42px;
}
.favorite__container .favorite__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.favorite__container .favorite__content .favorite__item {
  width: 256px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
.favorite__container .favorite__content .favorite__item:not(:last-child) {
  margin-right: 32px;
}
.favorite__container .favorite__content .favorite__item .favorite__item__img {
  margin-bottom: 16px;
  width: 88px;
  height: 88px;
  border: 2px solid #254F4C;
  border-radius: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.favorite__container .favorite__content .favorite__item .favorite__item__title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #254F4C;
}
.favorite__container .favorite__content .favorite__item .favorite__item__content {
  font-size: 14px;
  color: #1D3130;
}

.reviews__container {
  padding-bottom: 88px;
}
.reviews__container .reviews__title {
  margin-bottom: 49px;
}
.reviews__container .reviews__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reviews__container .reviews__content .reviews__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 248px;
  border: 2px solid #254F4C;
  border-radius: 40px;
  padding: 24px 16px;
  background-color: #FFFDFD;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__container .reviews__content .reviews__item .reviews__item__img {
  border-radius: 50px;
  background-color: #C4C4C4;
  width: 85px;
  height: 80px;
  margin-bottom: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__container .reviews__content .reviews__item .reviews__item__title {
  -ms-flex-item-align: baseline;
      align-self: baseline;
  margin-bottom: 8px;
  color: #3B7976;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__container .reviews__content .reviews__item .reviews__item__title h4 {
  width: 102px;
  text-align: right;
  font-size: 14px;
  margin: 0 2px;
}
.reviews__container .reviews__content .reviews__item .reviews__item__title .title__img {
  width: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.reviews__container .reviews__content .reviews__item .reviews__item__title .title__img img {
  width: 12px;
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
}
.reviews__container .reviews__content .reviews__item .reviews__item__content {
  font-size: 14px;
  color: #1D3130;
  text-align: center;
  margin-bottom: 16px;
}
.reviews__container .reviews__content .reviews__item .reviews__item__date {
  color: #3B7976;
  font-size: 14px;
  font-weight: 300;
}

.footer {
  background-color: #254F4C;
  padding: 56px 0;
}
.footer .footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer .footer__container .footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__container .footer__logo .logo__content {
  margin-left: 8px;
  color: white;
}
.footer .footer__container .footer__logo .logo__content .logo__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
}
.footer .footer__container .footer__logo .logo__content .logo_subtitle {
  line-height: 19px;
}
.footer .footer__container .footer__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__container .footer__menu .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer .footer__container .footer__menu .menu__list .menu__item {
  color: white;
  line-height: 19px;
}
.footer .footer__container .footer__menu .menu__list .menu__item:not(:last-child) {
  margin-right: 60px;
}
.footer .footer__container .footer__menu .menu__list .menu__item img {
  margin-right: 8px;
}
.footer .footer__container .footer__menu .menu__list .menu__item .menu__link {
  color: white;
  line-height: 19px;
}