@import 'nullstyle';

$maxWidth: 1600;
$mainColor: #254F4C;
$mainTextColor: #1D3130;
$hoverColor: aquamarine;
$orangeColor: #FF583E;

.active{
  color: $orangeColor!important;

  &:hover{
    opacity: 1!important;
  }
}

.btn {
  border-radius: 40px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding: 12px 56px;
  transition: all 0.5s;
  & svg {
    fill: $orangeColor!important;
    margin-left: 7px;
  }
}

.green{
  border: 1px solid $mainColor;
  background-color: $mainColor;
  color: #fff;

  &:not(:last-child){
    margin-right: 16px;
  }
}

.white{
  margin-top: 94px!important;
  color: $mainTextColor!important;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  &:not(:nth-of-type(4n)){
    margin: 0 16px 0 0;
  }
  & h5{
    color: $mainColor!important;
  }
}

.orange {
  border: 1px solid #FF583E;
  background-color: #FF583E;
  &:hover {
    background-color: white;
    color: $orangeColor;
  }

  &:hover svg{
    stroke: $orangeColor;
  }
}

.gr {
  border: 1px solid #254F4C;
  background-color: #254F4C;
  &:hover {
    opacity: 0.8;
  }
}

.wh{
  margin-top: 43px;
  padding: 12px 56px!important;
  align-self: center;
  background-color: white;
  color: $orangeColor!important;
  border: 1px solid $orangeColor;
  &:hover{
    background-color: $orangeColor;
    color: white!important;
  }
}

.tl{
  color: $mainColor;
  font-weight: 900;
  font-size: 25px;
  line-height: 29px;
}

.menu__link{
  color: $mainTextColor;
  line-height: 19px;
  transition: all 0.5s;
  &:hover{
    opacity: 0.5;
  }
}

.header__container{
  margin-top: 24px;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  .header__logo{
    display: flex;
    flex-direction: row;
    .logo__img{
      width: 32px;
      margin-right: 8px;
      fill: #246864;
    }
    .logo__content{
      align-self: center;
      color: $mainTextColor;
      .logo__title{
        font-size: 20px;
        font-weight: 700;
        color: $mainColor;
      }
    }
  }
  .header__menu{
    display: flex;
    .menu__list{
      display: flex;
      flex-direction: row;
      align-items: center;
      .menu__dropdown{
        position: relative;
        & img{
          transition: all 0.5s;
          margin-left: 8px;
        }
        .dropdown__content{
          background-color: white;
          transition: all 0.5s;
          position: absolute;
          left: 0;
          top: 100%;
          display: none;
          flex-direction: column;
          border: 1px solid #C4C4C4;
          border-radius: 0 20px 20px 20px;
          & li{
            align-self: center;
            text-align: center;
            width: 100px;
            padding: 10px 0;
            & .dropdown__link:hover{
              padding-bottom: 5px;
              border-bottom: 2px solid $mainColor;
              transition: all 0.3s ease;
            }
          }
        }
        &:hover .dropdown__content{
          display: flex;
        }
        &:hover img{
          transform: rotate(180deg);
        }
      }
      .menu__item{
        &:not(:last-child){
          margin-right: 60px;
        }
      }
    }
  }
  .header__phone{
    display: flex;
    align-items: center;
    color: $mainTextColor;
    font-size: 16px;
    padding-left: 30px;
    .phone__img{
        margin-right: 8px;
        fill: $mainTextColor;
    }
  }
  .header__basket{
    display: flex;
    align-items: center;
    .basket__button{
      width: 48px;
      position: relative;
      background-color: transparent;
      font-size: 20px;
      line-height: 23px;
      color: $orangeColor;
      & svg{
        fill: $mainTextColor;
        margin-right: 8px;
        transition: all 0.5s;
      }

      .button__inner{
        width: 250px;
        padding: 10px 10px 8px;
        border: 1px solid #C4C4C4;
        background-color: white;
        position: absolute;
        display: none;
        flex-direction: column;
        right: 25px;
        top: auto;
        border-radius: 20px 0 20px 20px;

        .inner__title{
          text-align: center;
          font-size: 16px;
          font-weight: 600;
          color: #254F4C;
        }

        .inner__count{
          text-align: center;
          font-size: 14px;
          color: #1D3130;
        }

        .inner__place{
          border-top: 1px solid #1D3130;
          padding: 5px 0;

          .inner__item{
            display: flex;
            padding: 10px 0;
            justify-content: space-between;
            color: #254F4C;
            font-size: 16px;
            border-bottom: 1px solid #1D3130;

            .inner__btn{
              background-color: transparent;

              &:hover svg{
                fill: red;
              }
            }
          }

        }

        .inner__link{
          width: 100%;
          padding: 6px 12px;
          border-radius: 5px;
          color: white;
        }
      }
      &:hover .button__inner{
        display: flex;
      }
    }
  }
}

.page__main-block {
  padding: 56px 0 33px 0;
  .main__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .main__content {
      .main__title {
        width: 403px;
        font-size: 36px;
        font-weight: 900;
        line-height: 42px;
        color: $mainColor;
      }

      .main__text {
        margin: 16px 0;
        width: 416px;
        line-height: 24px;
        color: $mainTextColor;

        .btn {
          padding: 12px 35px 13px !important;
        }
      }
    }

    .main__images {
      display: flex;
      justify-content: flex-end;
      width: 735px;
    }
  }
}

.new__container {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .new__content {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;

    .new__block {
      padding: 0 16px;
      width: 264px;
      background-color: $mainColor;
      border-radius: 40px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .new-block__img {
        height: 100px;

        & img {
          position: relative;
          bottom: 45px;
        }
      }
    }
  }
}

.menu__container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .menu__content {
    margin-top: 24px;
    display: flex;
    flex-direction: column;

    .menu__sort {
      align-self: flex-end;
      display: flex;
      align-items: center;

      .menu__text {
        width: 136px;
        margin-right: 8px;
        font-size: 14px;
      }

      .menu__select {
        appearance: none;
        cursor: pointer;
        border: 1px solid #C4C4C4;
        width: 160px;
        padding: 12px 23px;
        background: url('./assets/icons/arSelectGr.svg') no-repeat right;
        background-position-x: calc(100% - 25px);

        &:hover, &:focus {
          outline: none;
        }
      }
    }

    .menu__content__items {
      margin-top: 18px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}

.page__favoriteblock {
  padding: 42px 0 56px 0;

  .favorite__container {
    .favorite__title {
      margin-bottom: 42px;
    }

    .favorite__content {
      display: flex;

      .favorite__item {
        width: 256px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        &:not(:last-child) {
          margin-right: 32px;
        }

        .favorite__item__img {
          margin-bottom: 16px;
          width: 88px;
          height: 88px;
          border: 2px solid $mainColor;
          border-radius: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        .favorite__item__title {
          margin-bottom: 8px;
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
          color: $mainColor;
        }

        .favorite__item__content {
          font-size: 14px;
          color: $mainTextColor;
        }
      }
    }
  }
}

.reviews__container {
  padding-bottom: 88px;

  .reviews__title {
    margin-bottom: 49px;
  }

  .reviews__content {
    display: flex;

    .reviews__item {
      display: flex;
      width: 248px;
      border: 2px solid $mainColor;
      border-radius: 40px;
      padding: 24px 16px;
      background-color: #FFFDFD;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .reviews__item__img {
        border-radius: 50px;
        background-color: #C4C4C4;
        width: 85px;
        height: 80px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .reviews__item__title {
        align-self: baseline;
        margin-bottom: 8px;
        color: #3B7976;
        display: flex;
        justify-content: center;

        & h4 {
          width: 102px;
          text-align: right;
          font-size: 14px;
          margin: 0 2px;
        }

        .title__img {
          width: 24px;
          display: flex;
          align-items: center;
          justify-content: center;

          & img {
            width: 12px;
            transform: matrix(-1, 0, 0, 1, 0, 0);
          }
        }
      }

      .reviews__item__content {
        font-size: 14px;
        color: $mainTextColor;
        text-align: center;
        margin-bottom: 16px;
      }

      .reviews__item__date {
        color: #3B7976;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}

.footer {
  background-color: $mainColor;
  padding: 56px 0;

  .footer__container {
    display: flex;
    justify-content: space-between;

    .footer__logo {
      display: flex;
      & svg{
        fill: white;
      }

      .logo__content {
        margin-left: 8px;
        color: white;

        .logo__title {
          font-weight: 700;
          font-size: 20px;
          line-height: 23px;
        }

        .logo_subtitle {
          line-height: 19px;
        }
      }
    }

    .footer__menu {
      flex-grow: 1;
      display: flex;
      align-items: center;
      justify-content: center;

      .menu__list {
        display: flex;
        align-items: center;
        justify-content: center;

        .menu__item {
          color: white;
          line-height: 19px;

          & svg {
            fill: white;
            margin-right: 8px;
            vertical-align: bottom;
          }

          &:not(:last-child) {
            margin-right: 60px;
          }

          .menu__link {
            color: white;
            line-height: 19px;
          }
        }
      }
    }
  }
}


